<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>96507DC94522D0BED9305AE7C333F1E6</string>
	<key>Layout Version</key>
	<integer>0</integer>
</dict>
</plist>
