<div class="col">
	<div class="row">
	{{ range first 6 .Data.Pages}}
		<div class="col-md-2">
			<figure class="figure">
				<a href={{.URL | absURL  }}>
					<img src="{{ .Site.BaseURL }}img/img{{ .Weight }}.jpg" class="img-fluid" alt="Responsive image">
				</a>
				<h5>{{.Title}}</h5>
				<figcaption class="figure-caption">{{ .Params.comment }}</figcaption>
			</figure>
		</div>
	{{ end }}
	</div>
	<div class="row">
		<div class="col">
			<figure class="figure">
				<img src="{{ .Site.BaseURL }}img/top.png" class="img-fluid" alt="Responsive image">
				<figcaption class="figure-caption">{{ .Params.comment }}</figcaption>
			</figure>
		</div>
	</div>
	<div class="row">
	{{ range last 3 .Data.Pages}}
		<div class="col-md-4">
			<figure class="figure">
				<a href={{.URL | absURL  }}>
					<img src="{{ .Site.BaseURL }}img/img{{ .Weight }}.jpg" class="img-fluid" alt="Responsive image">
				</a>
				<h5>{{.Title}}</h5>
				<figcaption class="figure-caption">{{ .Params.comment }}</figcaption>
			</figure>
		</div>
	{{ end }}
	</div>
</div>
