		<div class="col-2">
			<h6>{{ .Site.Title }}</h6>
			<a href={{ .Site.BaseURL }}>
				<img src="http://placeimg.com/500/500/tech/grayscale" class="img-fluid" alt="Responsive image">
			</a>
			
			<b>new!</b>
			<ul class="list-group">
				{{ range first 3 .Pages.ByDate }}
				<li class="list-group-item"><a href={{.URL}}><small>{{.Title}}</small></a></li>
				{{ end }}
			</ul>

			<b>menu</b>
			<ul class="list-group">
				{{ range .Pages.ByTitle}}
				<li class="list-group-item"><a href={{.URL}}><small>{{.Title}}</small></a></li>
				{{ end }}
			</ul>
		</div>
