{{ partial "header.html" .}}

<div class="col">

<article>
  <header class="entry-header">
    <h2 class="entry-title">{{ .Title }}</h2>
    <p class="text-right"><small><span class="entry-date">{{ .Date.Format "2006-01-02" }}更新</span></small></p>
  </header>
  
  <div class="entry-content">
    <p>{{ .Content }}</p>
  </div>
  
  	<ul class="list-group">
		{{ range .Data.Pages }}
		<li class="list-group-item"><a href={{ .URL }}><small>{{.Title}}</small></a></li>
		{{ end }}
	</ul>
  
</article>


</div>


{{ partial "footer.html" . }}