<div class="col-2">
	<h6>{{ .Site.Title }}</h6>
	<a href={{ .Site.BaseURL }}>
		<img src="{{ .Site.BaseURL }}img/logo.png" class="img-fluid" alt="Responsive image">
	</a>
	
	<b>new</b>
	<ul class="list-group">
		{{ range first 3 .Site.Pages}}
		<li class="list-group-item list-group-item-success"><a href={{.URL | absURL  }}><small>{{.Title}} <br><small>{{.Date.Format "2006/01/02"}}更新</small></small></a></li>
		{{ end }}
	</ul>

	<b>menu</b>
	<ul class="list-group">
		{{ range (where .Site.Pages "Section" "pages")}}
		<li class="list-group-item list-group-item-success"><a href={{.URL | absURL  }}><small>{{.Title}}</small></a></li>
		{{ end }}
	</ul>
</div>
